<div class="ml-3">
    <h1>Help Inspector Clouseau to Eat-Da-Damburger!</h1>
    <p>Enter a burger you want him to eat and then click the submit button.</p>
    <form class="form-inline create-form">
        <div class="form-group">
            <label for="burgerName" class="sr-only">Burger Name</label>
            <input id="burgerName" class="form-control" type="text" placeholder="" />
        </div>
        <button type="submit" class="btn btn-dark ml-3">Submit</button>
    </form>
</div>
<div class="box py-3">
    <img class="img-fluid w-100" src="assets/img/tenor.gif" />
    <div class="top-left">
        <h4 class="text-white">To be devoured:</h4>
        <div class="pre-scrollable">
            <ul class="list-group">
                {{#each burger}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <h4 class="text-white">Devoured: </h4>
        <div class="pre-scrollable">
            <ul class="list-group">
                {{#each burger}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>