<h1>Eat-Da-Damburger!</h1>
<p>Enter a burger you want to eat and then click the submit button.</p>
<div class="box">
    <img class="img-fluid w-100" src="assets/img/tenor.gif" />
    <div class="top-left">
        <form class="form-inline">
            <div class="form-group">
                <label for="burgerName" class="sr-only">Burger Name</label>
                <input id="burgerName" class="form-control" type="text" placeholder="" />
            </div>
            <button type="submit" class="btn btn-primary ml-3">Submit</button>
        </form>
        <ul>
            {{#each burger}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>