<div class="ml-3">
    <h1>Help Inspector Clouseau to Eat-Da-Damburger!</h1>
    <p>Enter a burger you want him to eat and then click the submit button.</p>
    <form class="form-inline">
        <div class="form-group">
            <label for="burgerName" class="sr-only">Burger Name</label>
            <input id="burgerName" class="form-control" type="text" placeholder="" />
        </div>
        <button type="submit" class="btn btn-dark ml-3">Submit</button>
    </form>
</div>
<div class="box py-3">
    <img class="img-fluid w-100" src="assets/img/tenor.gif" />
    <div class="top-left">
        <ul class="list-group">
            {{#each burger}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>